127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
127.0.1.1   master.test master

192.168.2.3 node1.test node1
192.168.2.4 node2.test node2
192.168.2.5 node3.test node3
192.168.2.6 node4.test node4
192.168.2.7 node5.test node5
